
body{
	margin: 0;
	display: block;
	font-family: sans-serif;
}

hr{
	border-top: 0.1px solid #d2cbcb;
	margin-top: 15px;
    margin-bottom: 10px;
}

.header{
	background-color: #273B47;
	position: relative;
	height: 54px;
	font-weight: bold;
}

.header .button{
	right: 0;
	position: absolute;
	font-size: 13px;
	color: ;
}

.main{
	background-color: #EFEFEF;	
}

.search{
	position: relative;
	height: 60px;	
	right: 0;	
}

.search input[type='text']{	
	right: 40px;
	display: inline;
	height: 37px;
	margin-top: 10px;
	position:absolute;
	border: 0;
	border-radius: 8px;
	margin-right: 7px;
	color: #E0E0E0;
	font-weight: bold;
	font-size: 16px;
	padding-left: 13px;
	width: 177px;
}

.search-icon{
	margin-top: 10px;
	position:absolute;	
	right: 0;	
	background-color: #333333;
	border-radius: 6px;
	width: 40px;
    height: 40px;
}

.search input[type='image']{			
	height: 18px;
	width: 18px;
	margin: 10px;	
}

.slider{
	height: 560px;
	position: relative;
}

.img-centered{	
	max-width: 100%;
	height: 560px;
	position: absolute;
}

.selected{	
	width: 526px;
	position: absolute;
	background-color: #f0f0f0;
    opacity: 0.8;
    bottom: 35px;
    margin-left: 21px;
    padding: 20px;
}

.selected .date{
	margin-right: 0;
	padding-top: 11px;
    padding-left: 10px;
}

.articles{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.articles figure{
	margin: 27px 0;
}
.img-article{
	width: 317px;
	height: 215px;
}

.title{
	font-size: 20px;
	font-weight: 700;	
	width: 307px;
	color: #515151;
}

.description{
	display: flex;
    justify-content: space-between;
}

.user{
	width: 35px;
	height: 35px;
}

.autor, .date{
	font-size: 12px;
    color: #515151;
}

.autor{
	display: flex;
}

.autor span{
	padding-top: 11px;
    padding-left: 10px;
}

.date{
	margin-right: -175px;
}

.logo{
	display: inline-block;
	margin-left: 8px;
}

.logo img{
	width: 90px;
	height: 27px;
}

.menu{
	display: inline-block;
	position: absolute;	
	right: 0;
    margin-right: 160px;    
}

.menu li{
	display: inline-block;
	color: white;
	padding-right: 10px
}

.menu li span{
	padding-left: 18px;
}

.menu a{	
	color: white;
	text-decoration: none;	
	padding-top: 13px;
}

.menu a:hover{
	border-top: #9ACA3F solid;
}

.button{
	border-radius: 3px;    
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 7px;
    margin: 9px;    
	background: rgb(255,72,66); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,72,66,1) 73%, rgba(255,72,66,1) 73%, rgba(255,4,0,1) 99%, rgba(255,72,66,1) 100%, rgba(255,72,66,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,72,66,1) 73%,rgba(255,72,66,1) 73%,rgba(255,4,0,1) 99%,rgba(255,72,66,1) 100%,rgba(255,72,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,72,66,1) 73%,rgba(255,72,66,1) 73%,rgba(255,4,0,1) 99%,rgba(255,72,66,1) 100%,rgba(255,72,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4842', endColorstr='#ff4842',GradientType=0 ); /* IE6-9 */

}

.center-main, .center-articles{
	padding: 2px 13%;	
}

.center-main{
	background-color: #EFEFEF;
}

.footer{
	padding: 39px 25%;
	display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-weight: 700;    
    color: #737171;
}

.footer input{	
	color: #515257;
    font-weight: bolder;
    background-color: #EAEAEA;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    padding: 6px 11px;
}

.footer span{
	padding-top: 6px;
}