
body{
	margin: 0;
	display: block;
	font-family: sans-serif;
}

.header{
	background-color: #273B47;
	position: relative;
	height: 54px;
	font-weight: bold;
}

.header .button{
	right: 0;
	position: absolute;
}

.main{
	background-color: #EFEFEF;	
}

.search{
	position: relative;
	height: 60px;	
	right: 0;
}


.search input[type='text']{	
	right: 40px;
	display: inline;
	height: 37px;
	margin-top: 10px;
	position:absolute;
	border: 0;
	border-radius: 8px;
	margin-right: 7px;
	color: #E0E0E0;
	font-weight: bold;
	font-size: 16px;
	padding-left: 13px;
	width: 177px;
}

.search-icon{
	margin-top: 10px;
	position:absolute;	
	right: 0;	
	background-color: #333333;
	border-radius: 6px;
	width: 40px;
    height: 40px;
}

.search input[type='image']{			
	height: 18px;
	width: 18px;
	margin: 10px;	
}

.img-centered{	
	max-width: 100%;
	height: 560px;
}

.img-article{
	width: 320px;
	height: 215px;
}

.logo{
	display: inline-block;
	margin-left: 8px;
}

.logo img{
	width: 90px;
	height: 27px;
}

.menu{
	display: inline-block;
	position: absolute;	
	right: 0;
    margin-right: 160px;    
}

.menu li{
	display: inline-block;
	color: white;
	padding-right: 10px
}

.menu li span{
	padding-left: 18px;
}

.menu a{	
	color: white;
	text-decoration: none;	
	padding-top: 13px;
}

.menu a:hover{
	border-top: #9ACA3F solid;
}

.button{
	border-radius: 3px;
    background-color: #FF4842;
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 7px;
    margin: 9px;
}

.center-main, .center-articles{
	padding: 0 15%;	
}

.center-main{
	background-color: #EFEFEF;
}